<header>
  <p class="header-title">Excel con JSON</p>
  <!-- <button>
    <mat-icon>menu</mat-icon>
  </button> -->
  @if(false) {
    <ng-container>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </ng-container>
  }

  <ng-container>
    <nav class="header-nav">
      <li class="nav-item"><a routerLink="/crear" routerLinkActive="current">crear</a></li>
      <li class="nav-item"><a routerLink="/docs"  routerLinkActive="current">docs</a></li>
    </nav>
  </ng-container>
</header>
<router-outlet></router-outlet>
<footer>
  <p>develop by <a href="">jito-jito</a></p>
</footer>
